PROJECT=kawaflow

APP_NAME=Kawaflow
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=http://kawaflow.localhost

APP_PORT=9000
VITE_PORT=5173
OPENCODE_PORT=4096

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=postgres
DB_USERNAME="$POSTGRES_USER"
DB_PASSWORD="$POSTGRES_PASSWORD"
DB_DATABASE="$POSTGRES_DATABASE"
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

FLOW_MANAGER_COMMAND_QUEUE=flow-manager.commands
FLOW_MANAGER_RESPONSE_QUEUE=flow-manager.responses
FLOW_MANAGER_EVENT_EXCHANGE=flow-manager.events
FLOW_MANAGER_EVENT_QUEUE=flow-manager.ui.events
FLOW_MANAGER_TIMEOUT=8000
